body, html {
    margin:0;
    padding:0;
}
.clear-white-bg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#adadad+0,adadad+100&amp;0.5+0,0.5+100 */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(173,173,173,0.5) 0%, rgba(173,173,173,0.5) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(173,173,173,0.5) 0%,rgba(173,173,173,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(173,173,173,0.5) 0%,rgba(173,173,173,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80adadad', endColorstr='#80adadad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.frame-label {
    position:absolute;
    top:0;
    right:0;
    margin-right:5px;
    margin-top:5px;
    width:60px;
    height:20px;
    z-index:99999;
    padding-left:3px;
    border-radius:5px;
}
.frame-label-html {
    position:absolute;
    top:0;
    right:0;
    margin-right:5px;
    margin-top:5px;
    width:60px;
    height:20px;
    z-index:99999;
    padding-left:3px;
    border-radius:5px;
}
.status-bar {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:50px;
    padding:8px;
    background-color:#333;
}
iframe, .iframe-norm, #thepreview, #thepreview iframe {
    border:0;
    border-radius:0;
    width:100%;
    height:100%;
    min-width:100%;
    display:block;
}
#editor {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    border:0;
    border-radius:0;
}
#editor2 {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    border:0;
    border-radius:0;
}
#editor3 {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    border:0;
    border-radius:0;
}
#editor4, #editor5 {
    height:70px;
}
.theeditor-full {
    margin:0;
    width:100%;
    height:100%;
    float:left;
    border:0;
    border-radius:0;
}
.navbar {
    border-radius:0;
    margin:0;
}
.hidden-iframe {
    display:none;
}
.pretty-split-pane-frame {
    position:absolute;
    left:50px;
    right:0px;
    top:0px;
    bottom:0px;
}
.pretty-split-pane-component-inner {
    padding:0;
}
#top-component {
	bottom: 25em;
	margin-bottom: 5px;
}
#horizontal-divider {
	bottom: 25em;
	height: 5px;
}
#bottom-component {
	height: 25em;
}
#left-component {
	width: 45em;
}
#vertical-divider {
	left: 45em;
	width: 5px;
}
#right-component {
	left: 45em;
	margin-left: 5px;
}
#top-component2 {
	bottom: 50%;
	margin-bottom: 5px;
}
#horizontal-divider2 {
	bottom: 50%;
	height: 5px;
}
#bottom-component2 {
	height: 50%;
}